{% extends 'base.html' %}

{% block content %}

{% if name %}
    <h1>Hello {{name}}</h1>
{% else %}
    <h1>User list</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.name.label(class="form-label") }}

        {{ form.name(class="form-control") }}
        <br>
        {{ form.email.label(class="form-label") }}

        {{ form.email(class="form-control") }}
        <br>
        {{ form.submit(class="btn btn-danger") }}
    </form>

    <br><br><br>
    <ul class="list-group list-group-flush">

    {% for our_user in our_users %}
        <a href="{{url_for('update', id=our_user.id)}}">
            <li class="list-group-item">
                 {{ our_user.id }}. {{ our_user.name }} - {{ our_user.email }}
            </li>
        </a>
    {% endfor %}
    </ul>

{% endif %}


{% endblock %}